<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
    </div>
  <% end %>
</div>

<div class="container-custom">
  <div class="row">
    <div class="span4">
      <%= image_tag "rgsocpic.png", class: "img-circle"  %>
    </div>

 

  <div class="span8"><h1>Log In</h1>
    <%= render 'form' %>
   </div>
</div>
