<h1>Edit Alarm</h1>

<%= render 'form' %>

<%= link_to 'Show', expected_event_alarm_path(@expected_event, @alarm), class: "btn btn-custom-show" %>
<%= link_to 'Back', expected_event_alarm_path, class: "btn btn-custom-back" %>
