development:
  adapter: postgresql
  encoding: unicode
  database: event_girl_development
  pool: 5
  username: <%= ENV['USER'] %>
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: event_girl_test
  pool: 5
  username: <%= ENV['USER'] %>
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: event_girl_production
  pool: 5
  username: <%= ENV['USER'] %>
  password:
