development:
  adapter: postgresql
  encoding: unicode
  database: ereignishorizont_development
  pool: 5
  username: <%= ENV['USER'] %>
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: ereignishorizont_test
  pool: 5
  username: <%= ENV['USER'] %>
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: ereignishorizont_production
  pool: 5
  username: <%= ENV['USER'] %>
  password:
