<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @expected_event.title %>
</p>

<%= link_to 'Edit', edit_expected_event_path(@expected_event) %> |
<%= link_to 'Back', expected_events_path, class: "btn btn-custom" %>
