@import "bootstrap" ;


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid grayMediumLight;
  color: grayLight;

  .footer-line-separator{
  height: 3px;
  background: #DCDCDC;
  margin: 10px
  }

  .footer-container {
  padding: 35px 0 30px;
  }
}

/* Susanne and Tam custom */

.btn-custom-back{
  background-color: hsl(220, 51%, 48%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b65b8", endColorstr="#3b65b8");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3b65b8), to(#3b65b8));
  background-image: -moz-linear-gradient(top, #3b65b8, #3b65b8);
  background-image: -ms-linear-gradient(top, #3b65b8, #3b65b8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b65b8), color-stop(100%, #3b65b8));
  background-image: -webkit-linear-gradient(top, #3b65b8, #3b65b8);
  background-image: -o-linear-gradient(top, #3b65b8, #3b65b8);
  background-image: linear-gradient(#3b65b8, #3b65b8);
  border-color: #3b65b8 #3b65b8 hsl(220, 51%, 48%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-custom-success {
  background-color: hsl(119, 71%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1fae1d", endColorstr="#1fae1d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1fae1d), to(#1fae1d));
  background-image: -moz-linear-gradient(top, #1fae1d, #1fae1d);
  background-image: -ms-linear-gradient(top, #1fae1d, #1fae1d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1fae1d), color-stop(100%, #1fae1d));
  background-image: -webkit-linear-gradient(top, #1fae1d, #1fae1d);
  background-image: -o-linear-gradient(top, #1fae1d, #1fae1d);
  background-image: linear-gradient(#1fae1d, #1fae1d);
  border-color: #1fae1d #1fae1d hsl(119, 71%, 40%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-custom-show {
  background-color: hsl(175, 88%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0bac9f", endColorstr="#0bac9f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0bac9f), to(#0bac9f));
  background-image: -moz-linear-gradient(top, #0bac9f, #0bac9f);
  background-image: -ms-linear-gradient(top, #0bac9f, #0bac9f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0bac9f), color-stop(100%, #0bac9f));
  background-image: -webkit-linear-gradient(top, #0bac9f, #0bac9f);
  background-image: -o-linear-gradient(top, #0bac9f, #0bac9f);
  background-image: linear-gradient(#0bac9f, #0bac9f);
  border-color: #0bac9f #0bac9f hsl(175, 88%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.container-custom {
  padding-top: 150px;
}

.line-separator{
  height:1px;
  background:#717171;
  margin: 20px;
}

.explanation{
  font-size:x-small;
  color:#5E5A5B;
}

.event-description{
  padding:20px;
}

.activity-status{
  padding: 20px;
  border: 2px solid black;
  text-align: justify;
}

/*!
 * Bootstrap v2.3.1-j6
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat, extended by @ArnoldDaniels.
 */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
tr.rowlink td {
  cursor: pointer;
}
tr.rowlink td.nolink {
  cursor: auto;
}
.table tbody tr.rowlink:hover td {
  background-color: #cfcfcf;
}
a.rowlink {
  color: inherit;
  font: inherit;
  text-decoration: inherit;
}

/* Index */

.title {
  width: 400px;
}

.subtitle {
  width: 200px;
}

.alarms {
  width: 90px;
}

.notification {
  width: 150px;
}

.activity {
  width: 150px;
}

.glyph {
  width: 20px;
}

.action {
  width: 150px;
}

.created-at {
  width: 200px;
}

.number {
  width: 30px;
}

/* pagination */

.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.pagination a, .pagination span {
    padding: 0.2em 0.3em;
}

.pagination .disabled {
  color: #aaaaaa;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}
