<footer class="footer">
  <div class="container">
    <div class="footer-line-separator"></div>
    <p class="center">made with <span class="icon-heart"></span> by <a href ="http://twitter.com/BibiBienenstich">Susanne</a> and <a href="http://twitter.com/travelingtamm">Tam</a> as part of <a href="http://www.railsgirlssummerofcode.org">Rails Girls Summer of Code</a></p>
  </div>
</footer>
