<footer class="footer">
  <div class="container">
    <div class="footer-line-separator"></div>
      <p class="center">made with <span class="icon-heart"></span> by Susanne and Tam as part of <a href="http://www.railsgirlssummerofcode.org">Rails Girls Summer of Code</a></p>
  </div>
</footer>
