<footer class="footer-container">
	<div class="container">
  		<p class="pull-left">made with <span class="icon-heart"></span> by Susanne and Tam as part of <a href="http://www.railsgirlssummerofcode.org">Rails Girls Summer of Code</a></p>
	</div>
</footer>
